/* General */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.wrapper__elem {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1186px;
}
.header {
    box-sizing: border-box;
    width: 100%;
    padding: 25px 0;
    background-color: #0f2741;
}
.content {
    padding: 50px 0;
    flex: 1 1 0;
}
.footer {
    padding: 15px 0;
    text-align: center;
    color:#fff;
    background-color:#0f2741;
}

/* Logo */
.logo__elem {
    display: block;
    width: auto;
    height: 36px;
}

/* Text */
.headline__elem {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0.5em;
}
.paragraph__elem {
    margin-top: 0.5em;
}
.paragraph__elem:first-of-type {
    margin-top: 0;
}

/* Fizz Buzz list */
.list {
    margin-top: 20px;
    text-align: left;
}

.list__elem {
    color: #455f7c;
    font-size: 14px;
    display: inline-block;
    padding: 0 50%;
    line-height: 30px;
    margin-bottom: 5px;
}

.list__elem--highlight {
    font-style: oblique;
    font-weight: bold;
}